{
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/recommended"
    ],
    "ignorePatterns": ["gulpfile.js", "gulp/**/*", "webpack.config.js"],
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "rules": {
      "@typescript-eslint/indent": ["error", 2],
      "@typescript-eslint/no-unused-vars":"warn",
      "@typescript-eslint/no-explicit-any": "error"

    }
  }